.button {
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  max-width: 420px;
  outline: 0;
  padding: 10px 0;
  transition: background 0.3s;
  width: 80%;
  background: #f58733;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  margin:5px;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #ea6c0b;
  border-color: #ea6c0b;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

/* @media(min-width: 768px){
  .button{
    width: auto;
  }
} */
